<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FileCollector</title>
    <link href="https://www-zhandj-com-1306639613.cos.ap-guangzhou.myqcloud.com/static_files/index.css" rel="stylesheet">
    <script src="https://www-zhandj-com-1306639613.cos.ap-guangzhou.myqcloud.com/static_files/jquery.min.js"></script>
    <script src="https://www-zhandj-com-1306639613.cos.ap-guangzhou.myqcloud.com/static_files/bootstrap.bundle.min.js"></script>

</head>
<body>
<div class="px-5 py-5 p-lg-0 bg-surface-secondary">
    <div class="d-flex justify-content-center">
        <div class="col-lg-5 col-xl-4 p-12 p-xl-20 position-fixed start-0 top-0 h-screen overflow-y-hidden bg-primary d-none d-lg-flex flex-column">
            <!-- Logo -->
            <a class="d-block" href="#">
                <img src="https://www-zhandj-com-1306639613.cos.ap-guangzhou.myqcloud.com/img/logo1.png"
                     class="img-center m-0 p-0">
            </a>
            <!-- Title -->
            <div class="mt-32 mb-20">
                <h1 class="ls-tight font-bolder display-6 text-white mb-5">
                    Collect files easily.
                </h1>
                <p class="text-white text-opacity-75">
{#                    This is an open source project, feel free to contribute.#}
                </p>
            </div>
        </div>
        <div class="col-12 col-md-9 col-lg-7 offset-lg-5 border-left-lg min-h-lg-screen d-flex flex-column justify-content-center py-lg-160 px-lg-20 position-relative">
            <div class="row">
                <div class="col-lg-10 col-md-9 col-xl-6 mx-auto ms-xl-0">
                    <div class="mt-10 mt-lg-5 mb-6 d-flex align-items-center d-lg-block">
                        <h1 class="ls-tight font-bolder h2">
                            注册
                        </h1>
                    </div>
                    <form method="post">
                        <div class="mb-5">
                            <label class="form-label" for="phone">姓名</label>
                            <input type="text" class="form-control form-control-muted" id="user_name" name="user_name">
                        </div>
                        <div class="mb-5">
                            <label class="form-label" for="phone">手机号码</label>
                            <input type="tel" class="form-control form-control-muted" id="phone" name="phone_number">
                        </div>
                        <div class="mb-5">
                            <label class="form-label ls-wide" for="password">密码</label>
                            <input type="password" class="form-control form-control-muted" id="password"
                                   autocomplete="current-password" name="password">
                        </div>
                        <div class="mb-5">
                            <label class="form-label ls-wide" for="verification">短信验证码</label>
                            <div id="SMSAlertPlaceholder"></div>

                            <div class="row align-items-center">
                                <div class="col-6">
                                    <input type="text" class="form-control form-control-muted" id="verification"
                                           name="verification_code">
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-primary btn-sm" id="send_verification">发送</button>
                                </div>
                            </div>
                        </div>
                        <div class="mb-5">
                            <button type="button" class="btn btn-primary w-full" id="register">注册</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{# 警告 #}
<div class="modal fade" id="warningModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">警告</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <div id="div_warning_info">
                        操作失败
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function show_warning_modal(info = "操作失败") {
        $('#warningModal').modal('toggle');
        $('#div_warning_info').text(info);
    }

    $(document).ready(function () {
    });

    $('#send_verification').click(function () {
        $.ajax({
            url: "{% url 'collector:register_send_sms' %}",
            type: "POST",
            data: {
                phone_number: $('input#phone').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (data) {
                if (data['code'] === 'Ok') {
                    $('#send_verification').text('已发送')
                    $('#send_verification').attr('disabled', true)
                    $('#send_verification').addClass('btn-secondary');
                } else {
                    show_warning_modal(data['message'])
                }
            },
        })
    });

    $('#register').click(function () {
        $.ajax({
            url: "{% url 'collector:register' %}",
            type: "POST",
            data: {
                user_name: $('input#user_name').val(),
                phone_number: $('input#phone').val(),
                password: $('input#password').val(),
                verification_code: $('input#verification').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (data) {
                if (data['status'] === 'true') {
                    window.location.href = "{% url 'collector:login' %}";
                } else {
                    show_warning_modal(data['message'])
                }
            },
        })
    });
</script>
</body>
</html>